/*==========
variable css start
==============*/

  /*==========
  variable css end
  ==============*/
  /*==========================
  responsive NAV bar 
  ==================
  ========================*/
 
  
  .bd-grid {
    max-width: 1170px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
  
    .header {
      margin-top: 26px;
      left: 0;
      width: 100%;
      height: var(--header-height);
      padding: 0 1rem;
      background-color: rgba(255, 255, 255, 0);
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .header .header__toggle {
      font-size: 30px;
      cursor: pointer;
      padding-right: 20px;
      position: absolute;
      right: 0; }
  
  /*responsive*/
  @media screen and (min-width: 1024px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-width: 768px) {
    .nav {
      position: fixed;
      top: 0;
      left: -100%;
      background-color: #4BA7D5;
      width: 80%;
      height: 100vh;
      padding: 2rem 0;
      z-index: var(--z-fixed);
      transition: .5s;
      overflow-y: auto;
      color: white;
      z-index: 9999;
    }
     }
  @media screen and (min-width: 768px) {
    
  
    .header {
      height: calc(var(--header-height) + 1rem); }
      .header__logo, .header__toggle {
        display: none; }
  
    .nav {
      width: 100%; }
  
    .header__toggle {
      padding-right: 10px; } }
  @media (max-width: 768px) {
    .header .nav .menu {
      flex-direction: column; }
      .header .nav .menu .logo {
        display: none; }
      .header .nav .menu .login-contact {
        flex-direction: column;
        text-align: center; }
        .header .nav .menu .login-contact a {
          color: white;
          background-color: #8582e600 !important;
          text-align: center;
          margin-right: 30px;
          border-radius: 30px;
          height: 30px;
          line-height: 30px !important; }
        .header .nav .menu .login-contact .num {
          background-color: #8682e6 !important;
          text-align: center;
          margin-right: 30px; }
      .header .nav .menu .nav-item .list {
        flex-direction: column;
        text-align: center;
        color: white; }
        .header .nav .menu .nav-item .list li a {
          color: white; } }
  @media screen and (min-width: 576px) {
  
    .nav {
      width: 288px; } }
  .show {
    left: 0; }
  
  /*==========================
  =============================
  ==============================
  =============================
  responsive NAV bar end
  ===============================
  =============================
  
  ========================*/
  /*==========
  menu css start
  ==============*/
  .header .header__logo {
    position: relative; }
    .header .header__logo a img {
      display: none;
      position: absolute;
      top: -100px;
      left: 0; }
      .header .nav{
        width: 100%;
      }
      .header .nav .menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }     
  .header .nav .menu .logo a {
    line-height: 50px; }
    .header .nav .menu .nav_item .list {
        display: flex;
      margin-top: -9px;
    }
    .header .nav .menu .nav_item ul li{
        list-style: none;
    }
  .header .nav .menu .nav_item ul li a {
    text-decoration: none;
    color: #444447;
    font-family: var(--ff1);
    font-size: 17px;
    margin-right: 16px;
    line-height: 60px;
    font-weight: 600;
    padding-right: 30px;
    position: relative; }
    .header .nav .menu .nav_item ul li a:hover {
      color: #000; }
    .header .nav .menu .nav_item ul li a::after {
      content: "";
      width: 0%;
      height: 2px;
      background-color: #4396CE;
      position: absolute;
      bottom: -13px;
      left: 0;
      transition: 0.4s; }
    .header .nav .menu .nav_item ul li a:hover::after {
      width: 60%; }
      .header .nav .menu .nav_item ul li .num:hover::after {
        width: 0% !important; 
        background: rgb(85,76,224);
  background: linear-gradient(90deg, rgba(85,76,224,1) 0%, rgba(9,9,121,1) 64%, rgba(8,113,134,1) 100%); 
      }
      .header .nav .menu .nav_item ul li .num:hover {
        transition: 0.4s !important;
        background: rgb(85,76,224);
  background: linear-gradient(90deg, rgba(85,76,224,1) 0%, rgba(9,9,121,1) 64%, rgba(8,113,134,1) 100%); 
      }
  .header .nav .menu .login_contact {
    line-height: 60px; }
    .header .nav .menu .login_contact a {
      color: #444444;
      font-family: var(--ff1);
      font-size: 16px;
      margin-right: 15px;
      line-height: 40px;
      font-weight: 600;
      padding-right: 30px;
      border-radius: 40px;
      height: 40px;
      width: 112px;
      text-align: center;
      margin-top: 10px;
      transition: 00.3s; }
      .header .nav .menu .login_contact a:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
        .header .nav .menu .list .num {
    
          color: #ffffff;
          font-family: var(--ff1);
          font-size: 16px;
          margin-right: 3px;
          line-height: 50px;
          font-weight: 700;
          padding-right: 0px;
          display: block;
          background: rgb(9,7,72);
          background: linear-gradient(121deg, rgba(9,7,72,1) 0%, rgba(9,9,121,1) 29%, rgba(2,223,205,1) 100%);
          height: 53px;
          width: 137px;
          text-align: center;
          border-radius: 4px;
          transition: 0.4s;
          cursor: pointer;
          margin-left: 8px;
          margin-top: 5px;
        }
  
      .header .nav .menu .list .num:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: #ffffff ;
      }
         
        .logo-text{
          margin-left: 30px;
        }



/* =======user admin ========= */
.user_page .manue_side .dropdown-menu {
	position: absolute;
	z-index: 1000;

	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #02DFCD !important;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}
.user_page .manue_side{
  background-color: #02DFCD !important;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 50px;
}

.user_page .manue_side ul a {
    text-decoration: none;
	display: flex;
	color: white;
	padding: 9px 14px;
	border-radius: 11px;
  margin-bottom: 5px;
  transition: 0.4s;
}
.user_page .manue_side ul a:hover {
  color: rgb(79, 77, 255);

  background-color: rgb(255, 255, 255) !important;
}
.user_page .manue_side ul a:hover svg{

  fill:#4f4dff!important;

}
.user_page .manue_side ul a:hover img{

  fill:#4f4dff!important;

}
.user_page .manue_side ul a svg{
transition: 0.4s;
  fill:#ffffff!important;
margin-top: 4px;
}
.user_page .manue_side ul p{
margin-bottom: 0px !important;
margin-left: 15px;
margin-bottom: 2px;
font-weight: 600;
font-size: 16px;
line-height: 24px;
font-family: var(--ff1);
padding-right: 16px;
}
.user_page .manue_side ul span {
	font-weight: 400;
	font-size: 11px;
	font-family: var(--ff1);
	line-height: 16px;
}
.user_page .manue_side ul  .active{
display: flex;
color: #4f4dff;

background-color: white !important;
}
.user_page .manue_side ul  .active svg{
  fill: #4f4dff !important;
}        












.footer{
    background-color: #090748;
    height: 100px;
  }
  
  .footer h3{
    text-align: center;
    font-family: var(--ff1);
    font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: white;
  padding-top: 40px;
  }